/* Display Results page styling sheet*/

/* Sets the width and height for images */
.heightset{
    max-height: 256px;
}

.widthset{
    max-width: 256px;
}

/* Organizes images */
figure{
    display: inline-block;
}

/* Sets the font to be bold for image titles */
figcaption{
    font-weight: bold; 
}

/* Style the navigation bar */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F1F6F2;
}
.center-display{
    text-align: center;
}

/* Style the buttons inside the navigation bar */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #E3ECE5;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #B8D0BE;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Style the buttons on the navigation bar */
.button {
  background-color: #ADACB5;
  border: none;
  color: #434D5F;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
