/* This serves as the base stylesheet and all is linked to all of the pages
on the website */

/* Body background styling */
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #434D5F;
}

/* The individual page titles styling */
.page-title{
    color: #434D5F;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* The individual styling for all page descriptions */
.subpage-title{
    color: #434D5F;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: auto;   
}

/* Paragraph styling element */
p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Header styling element */
h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #434D5F;
    font-family: 'Times New Roman', Times, serif;
}

/* Creates a thematic break to seperate content  */
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    font-family: 'Times New Roman', Times, serif;
}

/*Navigation Bar styling*/
nav {
    width: 100%;
    height: 60px;
    background-color: #95a599;
}

/*Buttons on navigation bar styling*/
nav a {
    display: block;
    float: left;
                
    font-family: sans-serif;
    font-size: 20px;
    color: white;

    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-decoration: none;
}

/*Hover styling for navigation bar*/
nav a:hover {
    background-color: #ccffd1;
    text-decoration: none;
    color: white;              
}

/*Flower finder logo for navigation bar*/
#logo {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px #c4c4c4;

    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-top: -20px;
}

/* Making containers responsive to any device */
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #E3ECE5;
    border: 0;
}