/* general backgroud*/
body {
    /* background-color: #B5CBB7; */
    font-family: 'Courier New', Courier, monospace
}
h1 {
    color: black;
    font-family: 'Courier New';
}
h2{
    color: black;
    font-family: 'Courier New';
}

.button {
  background-color: #7F9D6F;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbar {
  background-color: #7F9D6F
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #96BA84;
    overflow: hidden;
    font-family: 'Courier New';
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #96BA84;
    color: #5B5B5B;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
      /* 7F9D6F */
    background-color: #7F9D6F;
    color: black;
  }
