<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
<head>
    <title> About</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
  <div class="aboutpage-title"> About Flower Finder </div>
  <br>
  <br>
  <div class="subpage-title">
      Welcome to Flower Finder, a web application built by computer science students Alanna DeMuro, 
      Isaiah Fujii Bresnihan, Elizabeth Riffle, and NaNa Mathis. These students were motivated
      to build this application for their Computer Science 121: Software Development course
      project. The group of four wanted to share the knowledge of flowers with anyone who might be 
      interested, whether one is an avid nature or garden-lover, or out for a casual stroll in the park. 
      Flower Finder offers a way for anyone to identify 102 different flowers just by uploading an image. 
      We hope we are able to share our love of nature with you through this app!

  </div> 
  <br>
  <br>
  <div class="about-deck">
    <div class="card1" style="overflow: hidden">
        <img id="resize" src="/static/img/card1.jpg" height="250px" class="card-img-top" alt="pink flowers">
        <div class="card1-body">
            <h5 class="card-title">Alanna DeMuro</h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Wilson, WY</p>  
            <p class="card-text"> Extracurriculars: CMS Swim Team</p>
        </div>
    </div>
    <div class="card1">
        <img id="resize" src="/static/img/card2.jpg" height="250px" class="card-img-top" alt="flowers">
        <div class="card1-body">
            <h5 class="card-title"> Isaiah Fujii Bresnihan </h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Seattle, WA</p>  
            <p class="card-text"> Extracurriculars: </p>
        </div>
      </div>
      <div class="card1">
        <img id="resize" src="/static/img/card3.jpg" height="250px" class="card-img-top" alt="more flowers">
        <div class="card1-body">
            <h5 class="card-title"> Elizabeth Riffle  </h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Seattle, WA</p>  
            <p class="card-text"> Extracurriculars: President of CMC Advocates</p>    
        </div>
      </div>
      <div class="card1">
        <img id="resize" src="/static/img/card3.jpg" height="250px" class="card-img-top" alt="more flowers">
        <div class="card1-body">
            <h5 class="card-title"> NaNa Mathis </h5>
            <p class="card-text"> College: Scripps College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science and Math minor</p>
            <p class="card-text"> Hometown: Maryland</p>
            <p class="card-text"> Extracurriculars: Climbing Club</p>
        </div>
      </div>
    </div>
  </body>
</body>
</html>
{% endblock %}