<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
<head>
    <title> About</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
    <div class="jumbotronabout">
        <div class="display-4about">
            The Flower Finder Story...
        </div>
            <br>
        <div class="leadabout">
            By Alanna, Isaiah, Lizzy, and NaNa
        </div>
        <div class="my-4about">
            
        </div> 
        
    </div>
  <div class="aboutsubpage-title">
      Flower Finder is a web application built by computer science students Alanna DeMuro, 
      Isaiah Fujii Bresnihan, Elizabeth Riffle, and NaNa Mathis. We were assigned to build 
      an application with a deep learning backend for our Computer Science 121: Software 
      Development course. We wanted to find a way to share our love of nature and flowers
      with the world. The goal was to make flower information accessible to all. So, we 
      decided to build an application that is capable of recognizing 102 different flower 
      types from a user uploaded image. We hope we are able to share our love of nature 
      with you through this app!
  </div> 
  <div class="aboutsubpage-title">
        To get started using this app, go to the Idenitfy page and upload an image of
        a flower (.png, .jpg, or .jpeg). Once you click upload, you'll see which flower 
        it is, as well as the second and third predictions. We also provide more information 
        about the flower, like how to plant it and care for it at home. Start exploring!
    </div> 
  <br>
  <div class="aboutsubpage-title">
        To get started, go to the Idenitfy page and upload an image of
        a flower (.png, .jpg, or .jpeg). Once you click upload, you'll see which flower 
        it is, as well as the second and third predictions. We also provide more information 
        about the flower, like how to plant it and care for it at home. Start exploring!
    </div> 
  <br>
  <div class="about-deck">
    <div class="card1" style="overflow: hidden">
        <img id="resize" src="/static/img/card1.jpg" height="250px" class="card-img-top" alt="pink flowers">
        <div class="card1-body">
            <h5 class="card-title">Alanna DeMuro</h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Wilson, WY</p>  
            <p class="card-text"> Extracurriculars: CMS Swim Team</p>
        </div>
    </div>
    <div class="card1">
        <img id="resize" src="/static/img/card2.jpg" height="250px" class="card-img-top" alt="flowers">
        <div class="card1-body">
            <h5 class="card-title"> Isaiah Fujii Bresnihan </h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Seattle, WA</p>  
            <p class="card-text"> Extracurriculars: </p>
        </div>
      </div>
      <div class="card1">
        <img id="resize" src="/static/img/card3.jpg" height="250px" class="card-img-top" alt="more flowers">
        <div class="card1-body">
            <h5 class="card-title"> Elizabeth Riffle  </h5>
            <p class="card-text"> College: Claremont McKenna College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science </p>
            <p class="card-text"> Hometown: Seattle, WA</p>  
            <p class="card-text"> Extracurriculars: President of CMC Advocates</p>    
        </div>
      </div>
      <div class="card1">
        <img id="resize" src="/static/img/card3.jpg" height="250px" class="card-img-top" alt="more flowers">
        <div class="card1-body">
            <h5 class="card-title"> NaNa Mathis </h5>
            <p class="card-text"> College: Scripps College</p>
            <p class="card-text"> Year: Junior</p>
            <p class="card-text"> Major: Computer Science and Math minor</p>
            <p class="card-text"> Hometown: Maryland</p>
            <p class="card-text"> Extracurriculars: Climbing Club</p>
        </div>
      </div>
    </div>
  </body>
</body>
</html>
{% endblock %}