<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
  <title>Citations</title> 
<body>
  <div>
    Citations
    <div class="card">
      <div class="card-body">
        “151 Types of Flowers Images and Growing Tips | Care Guide,” ProFlowers Blog, 18-Mar-2019. [Online]. Available: https://www.proflowers.com/blog/types-of-flowers?fbclid=IwAR0DuO9vrtw2dBmaiVCdDjCUMcRl_nzNtIHrzwhA_1I0jK4eOORIaAUYOiE. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Anemone, Japanese,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene84eb.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Anthurium Flower Facts, Growing & Caring Anthuriums Plant,” The Flower Expert. [Online]. Available: https://www.theflowerexpert.com/content/aboutflowers/exoticflowers/anthuriums. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Artichokes: Plant Care and Collection of Varieties,” Artichokes: Plant Care and Collection of Varieties - Garden.org. [Online]. Available: https://garden.org/plants/group/artichokes/. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Barberton Daisy - Gerbera Jamesonii - Indoor Care and Description,” House Plants Expert. [Online]. Available: https://www.houseplantsexpert.com/barberton-daisy.html. [Accessed: 11-Apr-2019]. 
      </div>
      <div class="card-body">
        “Bee balm,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene13fe.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “'Bishop of Llandaff' Dahlia,” FineGardening. [Online]. Available: https://www.finegardening.com/plant/dahlia-dahlia-bishop-llandaff. [Accessed: 11-Apr-2019]. “Dahlia 'Bishop of Llandaff',” White Flower Farm. [Online]. Available: https://www.whiteflowerfarm.com/40884-product.html#!growguide. [Accessed: 11-Apr-2019]. </p>
      </div>
      <div class="card-body">
        “Blackberry Lily,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scenebb97.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Black-eyed Susans,” Old Farmer's Almanac. [Online]. Available: https://www.almanac.com/plant/black-eyed-susans. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
          “Blanket Flowers: Plant Care and Collection of Varieties,” Blanket Flowers: Plant Care and Collection of Varieties - Garden.org. [Online]. Available: https://garden.org/plants/group/blanketflowers/. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        C. Chaney, “How to Take Care of Dendromecon Tree Poppies,” Home Guides | SF Gate, 07-Oct-2016. [Online]. Available: https://homeguides.sfgate.com/care-dendromecon-tree-poppies-28566.html. [Accessed: 11-Apr-2019]. 
      </div>
      <div class="card-body">
        “California Poppy,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene43bf-2.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Canna Lily,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene0750.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Canterbury Bells,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/sceneab8a.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Care Of Watercress: Growing Watercress Plants In Gardens,” Gardening Know How. [Online]. Available: https://www.gardeningknowhow.com/edible/herbs/watercress/growing-watercress-in-gardens.htm. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Columbine, Hybrid,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene37a5.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Crocus hybrids," Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene0ab0.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Cyclamen, Hardy,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene5622.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene469a.html. [Accessed: 18-Apr-2019].
      </div>
      <div class="card-body">
        "Foxglove,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scenec1a6.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Gaura,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene9411.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Gazania,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene5877.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “General Indoor and Outdoor Bromeliad Care,” Bromeliad Plant Care, 20-Jun-2016. [Online]. Available: http://www.bromeliads.info/general-indoor-outdoor-bromeliad-care/. [Accessed: 18-Apr-2019].
      </div>
      <div class="card-body">
        "Geranium, Common,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene5582.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Globe Thistle,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scenebb82.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Hyacinth, Armenian Grape,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene4971.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        How to Grow Buttercup Ranunculus Flowers by The Gardener's Network. [Online]. Available: http://www.gardenersnet.com/flower/buttercup.htm. [Accessed: 18-Apr-2019].
      </div>
      <div class="card-body">
        “Iris, Bearded (medium height),” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scenefc80.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Iris, Yellow Flag," Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene8f3c.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        J. VanZile, “Grow the Beautiful Tropical Bird of Paradise Plant With These Tips,” The Spruce, 17-Jan-2019. [Online]. Available: https://www.thespruce.com/how-to-grow-strelitzia-1902742. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Monkshood,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene8d7a.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Morning Glory,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene7b64.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Osteospermum,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene82d7.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Pansy," Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scenede13.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Pincushion Flower,” Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/sceneb858.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Plants & Flowers,” Plants & Flowers » Ball Moss. [Online]. Available: http://www.plantsrescue.com/tag/ball-moss/. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Plant Database,” Lady Bird Johnson Wildflower Center - The University of Texas at Austin. [Online]. Available: https://www.wildflower.org/plants/result.php?id_plant=cara2. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Sea Holly Plant Care: How To Grow A Sea Holly Plant,” Gardening Know How. [Online]. Available: https://www.gardeningknowhow.com/ornamental/flowers/sea-holly/sea-holly-flowers.htm. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Snapdragon," Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene95d7.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Tree mallow - planting, pruning and advice on caring for it,” Nature, 05-Sep-2018. [Online]. Available: https://www.nature-and-garden.com/gardening/tree-mallows-care-planting-watering.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        Visual Geometry Group Home Page. [Online]. Available: http://www.robots.ox.ac.uk/~vgg/data/flowers/102/. [Accessed: 18-Apr-2019].
      </div>
      <div class="card-body">
        “Wallflowers,” Love The Garden. [Online]. Available: https://www.lovethegarden.com/plant-finder/annuals/wallflowers. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        “Water lily - growing it and advice on how to care for it,” Nature, 06-Sep-2018. [Online]. Available: https://www.nature-and-garden.com/gardening/water-lilies.html. [Accessed: 11-Apr-2019].
      </div>
      <div class="card-body">
        "Windflower," Explore Cornell - Home Gardening - Flower Growing Guides - Growing Guide. [Online]. Available: http://www.gardening.cornell.edu/homegardening/scene238d.html. [Accessed: 11-Apr-2019].
      </div>
  </div>  
</body>
</html>
{% endblock %}