<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Citations </title>
  <meta name="citations" content="Citations">
  <meta name="author" content="SitePoint">
  
</head>

<body>

    <h1> Citations </h1>
    <h5> The flower data for this app is from Oxford Visual Geometry Group. </h5>
    <p>
    <i>Nilsback, M-E. and Zisserman, A.</i>
    Automated flower classification over a large number of classes
    Proceedings of the Indian Conference on Computer Vision, Graphics and Image Processing (2008)
    </p>
    <h5> The data for the information about the flowers is from the National Gardening Association.</h5>
    <p>
    <i>“151 Types of Flowers + Images and Growing Tips | Care Guide.” ProFlowers Blog, Provide Commerce, 18 Mar. 2019, www.proflowers.com/blog/types-of-flowers</i>
    
    Is this the right citation? I don't know how to cite stuff.
    </p>    

</body>
</html>