<!-- <!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Flowers </title>
  <meta name="description" content="Flowers">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="topnav">
    <a class="active" href="{{ url_for('home') }}" class="button">Home</a>
    <a href="{{ url_for('identify') }}" class="button">Identify</a>
    <a href="{{ url_for('database') }}" class="button">Database</a>
    <a href="{{ url_for('citations') }}" class="button">Citations</a>
  </div>
  <div>
    <center>
      <h1>Citations!!</h1>
    </center>
  </div>
  
</body>
</html> -->
