<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
<head>
    <title> Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
  <div class="page-title">
    Database
  </div>
    <div class="row"> 
        <div class="column">
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/alpineseaholly.jpg" style="padding-bottom:0.5em;">
                Alpine Sea Holly
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/anthurium.jpg" style="padding-bottom:0.5em;">
                Anthurium
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/artichoke.jpg" style="padding-bottom:0.5em;">
                Artichoke
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/azalea.jpg" style="padding-bottom:0.5em;">
                Azalea
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/ballmoss.jpg" style="padding-bottom:0.5em;">
                Ball Moss
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/balloonflower.jpg" style="padding-bottom:0.5em;">
                Balloon Flower
            </div>
        </div>
        <div class="column">
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/barbetondaisy.jpg" style="padding-bottom:0.5em;">
                Barbeton Daisy
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/beardediris.jpg" style="padding-bottom:0.5em;">
                Bearded Iris
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/beebalm.jpg" style="padding-bottom:0.5em;">
                Bee Balm
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/birdofparadise.jpg" style="padding-bottom:0.5em;">
                Bird of Paradise
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/bishopofllandaff.jpg" style="padding-bottom:0.5em;">
                Bishop of Llandaff
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/blackberrylily.jpg" style="padding-bottom:0.5em;">
                Blackberry Lily
            </div>
        </div>
        <div class="column">
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/blackeyedsusan.jpg" style="padding-bottom:0.5em;">Black-eyed Susan
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/bougainvillea.jpg" style="padding-bottom:0.5em;">Blanket Flower
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/bolerodeepblue.jpg" style="padding-bottom:0.5em;">Bolero Deep Blue
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/bougainvillea.jpg" style="padding-bottom:0.5em;">Bougainvillea
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/bromelia.jpg" style="padding-bottom:0.5em;">Bromelia
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/buttercup.jpg" style="padding-bottom:0.5em;">Buttercup
            </div>
        </div>
        <div class="column">
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/californiapoppy.jpg" style="padding-bottom:0.5em;">Californian Poppy
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/camellia.jpg" style="padding-bottom:0.5em;">Camellia
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/cannalily.jpg" style="padding-bottom:0.5em;">Canna Lily
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/canterburybells.jpg" style="padding-bottom:0.5em;">Canterbury Bells
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/capeflower.jpg" style="padding-bottom:0.5em;">Cape Flower
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/carnation.jpg" style="padding-bottom:0.5em;">Carnation
        </div>
        <div class="column">
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/caulteyaspicata.jpg" style="padding-bottom:0.5em;">Cautleya Spicata
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/clematis.jpg" style="padding-bottom:0.5em;">Clematis
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/coltsfoot.jpg" style="padding-bottom:0.5em;">Colt's Foot
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/columbine.jpg" style="padding-bottom:0.5em;">Columbine
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/commondandelion.jpg" style="padding-bottom:0.5em;">Common Dandelion
            </div>
            <div style="width:image width px; font-size:80%; text-align:center;">
                <img src="/static/img/flowers/cornpoppy.jpg" style="padding-bottom:0.5em;">Corn Poppy
            </div>
        </div>
        <div class="column">
            <img src="/static/img/flowers/cyclamen.jpg" style="padding-bottom:0.5em;">Cyclamen
            <img src="/static/img/flowers/daffodil.jpg" style="padding-bottom:0.5em;">Daffodil
            <img src="/static/img/flowers/desertrose.jpg" style="padding-bottom:0.5em;">Desert Rose
            <img src="/static/img/flowers/englishmarigold.jpg" style="padding-bottom:0.5em;">English Marigold
            <img src="/static/img/flowers/firelily.jpg" style="padding-bottom:0.5em;">Fire Lily
            <img src="/static/img/flowers/foxglove.jpg" style="padding-bottom:0.5em;">Foxglove
        </div>
        <div class="column">
            <img src="/static/img/flowers/frangipani.jpg" style="padding-bottom:0.5em;">Frangipani
            <img src="/static/img/flowers/fritillary.jpg" style="padding-bottom:0.5em;">Fritillary
            <img src="/static/img/flowers/gardenphlox.jpg" style="padding-bottom:0.5em;">Garden Phlox
            <img src="/static/img/flowers/gaura.jpg" style="padding-bottom:0.5em;">Gaura
            <img src="/static/img/flowers/gazania.jpg" style="padding-bottom:0.5em;">Gazania
            <img src="/static/img/flowers/geranium.jpg" style="padding-bottom:0.5em;">Geranium
        </div>
        <div class="column">
            <img src="/static/img/flowers/giantwhitearumlily.jpg" style="padding-bottom:0.5em;">Giant White Arum Lily
            <img src="/static/img/flowers/globeflower.jpg" style="padding-bottom:0.5em;">Globe Flower
            <img src="/static/img/flowers/globethistle.jpg" style="padding-bottom:0.5em;">Globe Thistle
            <img src="/static/img/flowers/grapehyacinth.jpg" style="padding-bottom:0.5em;">Grape Hyacinth
            <img src="/static/img/flowers/greatmasterwort.jpg" style="padding-bottom:0.5em;">Great Masterwort
            <img src="/static/img/flowers/hardleavedpocketorchid.jpg" style="padding-bottom:0.5em;">Hard-leaved Pocket Orchid
        </div>
        <div class="column">
            <img src="/static/img/flowers/hibiscus.jpg" style="padding-bottom:0.5em;">Hibiscus
            <img src="/static/img/flowers/hippeastrum.jpg" style="padding-bottom:0.5em;">Hippeastrum
            <img src="/static/img/flowers/japaneseanemone.jpg" style="padding-bottom:0.5em;">Japanese Anemone
            <img src="/static/img/flowers/kingprotea.jpg" style="padding-bottom:0.5em;">King Protea
            <img src="/static/img/flowers/lentenrose.jpg" style="padding-bottom:0.5em;">Lenten Rose
            <img src="/static/img/flowers/lotus.jpg" style="padding-bottom:0.5em;">Lotus
        </div>
        <div class="column">
            <img src="/static/img/flowers/loveinthemist.jpg" style="padding-bottom:0.5em;">Love in the Mist
            <img src="/static/img/flowers/magnolia.jpg" style="padding-bottom:0.5em;">Magnolia
            <img src="/static/img/flowers/mallow.jpg" style="padding-bottom:0.5em;">Mallow
            <img src="/static/img/flowers/marigold.jpg" style="padding-bottom:0.5em;">Marigold
            <img src="/static/img/flowers/mexicanaster.jpg" style="padding-bottom:0.5em;">Mexican Aster
            <img src="/static/img/flowers/mexicanpetunia.jpg" style="padding-bottom:0.5em;">Mexican Petunia
        </div>
        <div class="column">
            <img src="/static/img/flowers/monkshood.jpg">Monkshood
            <img src="/static/img/flowers/moonorchid.jpg">Moon Orchid
            <img src="/static/img/flowers/morningglory.jpg">Morning Glory
            <img src="/static/img/flowers/orangedahlia.jpg">Orange Dahlia
            <img src="/static/img/flowers/osteospermum.jpg">Osteospermum
            <img src="/static/img/flowers/oxeyedaisy.jpg">Oxeye Daisy
        </div>
        <div class="column">
            <img src="/static/img/flowers/passionflower.jpg">Passion Flower
            <img src="/static/img/flowers/pelagornium.jpg">Pelargonium
            <img src="/static/img/flowers/peruvianlily.jpg">Peruvian Lily
            <img src="/static/img/flowers/petunia.jpg">Petunia
            <img src="/static/img/flowers/pincushionflower.jpg">Pincushion Flower
            <img src="/static/img/flowers/pinkprimrose.jpg">Pink Primrose
        </div>
        <div class="column">
            <img src="/static/img/flowers/pinkyellowdahlia.jpg">Pink-yellow Dahlia
            <img src="/static/img/flowers/poinsettia.jpg">Poinsettia
            <img src="/static/img/flowers/primula.jpg">Primula
            <img src="/static/img/flowers/princeofwalefeathers.jpg">Prince of Wales Feathers
            <img src="/static/img/flowers/pupleconeflower.jpg">Purple Coneflower
            <img src="/static/img/flowers/redginger.jpg">Red Ginger
        </div>
        <div class="column">
            <img src="/static/img/flowers/rose.jpg">Rose
            <img src="/static/img/flowers/rubylippedcattleya.jpg">Ruby-lipped Cattleya
            <img src="/static/img/flowers/siamtulip.jpg">Siam Tulip
            <img src="/static/img/flowers/silverbush.jpg">Silverbush
            <img src="/static/img/flowers/snapdragon.jpg">Snapdragon
            <img src="/static/img/flowers/spearthistle.jpg">Spear Thistle
        </div>
        <div class="column">
            <img src="/static/img/flowers/springcrocus.jpg">Spring Crocus
            <img src="/static/img/flowers/stemlessgentian.jpg">Stemless Gentian
            <img src="/static/img/flowers/sunflower.jpg">Sunflower
            <img src="/static/img/flowers/sweetpea.jpg">Sweet Pea
            <img src="/static/img/flowers/sweetwilliam.jpg">Sweet William
            <img src="/static/img/flowers/swordlily.jpg">Sword Lily
        </div>
        <div class="column">
            <img src="/static/img/flowers/thornapple.jpg">Thornapple
            <img src="/static/img/flowers/tigerlily.jpg">Tiger Lily
            <img src="/static/img/flowers/toadlily.jpg">Toad Lily
            <img src="/static/img/flowers/treemallow.jpg">Tree Mallow
            <img src="/static/img/flowers/treepoppy.jpg">Tree Poppy
            <img src="/static/img/flowers/trumpetcreeper.jpg">Trumpet Creeper
        </div>
        <div class="column">
            <img src="/static/img/flowers/wallflower.jpg">Wallflower
            <img src="/static/img/flowers/watercress.jpg">Watercress
            <img src="/static/img/flowers/waterlily.jpg">Water Lily
            <img src="/static/img/flowers/wildpansy.jpg">Wild Pansy
            <img src="/static/img/flowers/windflower.jpg">Windflower
            <img src="/static/img/flowers/yellowiris.jpg">Yellow Iris
    </div>
  </div>
</body>
</html>
{% endblock %}