<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
<head>
    <title> Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>
<body>
  <div class="page-title">
    Database
  </div>
  <div>
        <img src="https://drive.google.com/file/d/1kZBPSI5Y0G3oftQ1GK2jgg-ZJ2q2GVwT/view?usp=sharing">Yellow Iris
        <img src="https://drive.google.com/open?id=1P5FrQtNQu_1cVoWtnJ6vYjqENR4nnF9k">Windflower
        <img src="https://drive.google.com/open?id=1BP9eB_3nFZNWdXa7lz6ijPpoDrj9gr1W">Wild Pansy
        <img src="https://drive.google.com/open?id=1-FPBtvVxYC8EgGbs3PUrG3d5xSk0j5Zc">Water Lily
        <img src="https://drive.google.com/open?id=1DyQZXAJlAAWwZlirujU-UNswhlC1AeBu">Watercress
        <img src="https://drive.google.com/open?id=1ywc7pKeecXskL_HiBGVUgnVWcx1vuOOs">Wallflower
        <img src="https://drive.google.com/open?id=1ofBRSElI8jBL0vAI14TNiCg9LRWv0xm6">Trumpet Creeper
        <img src="https://drive.google.com/open?id=1P4VdIb1EUWe1_8OHAbmZjhiw7iL660-u">Tree Poppy
        <img src="https://drive.google.com/open?id=18ntqm-v16CkE9S80B-MddP14TXxXE4_e">Tree Mallow
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
  </div>
</body>
</html>
{% endblock %}