<!doctype html>
{% extends "base.html" %} {% block content %}  
<html lang="en">
<head>
    <title> Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div class="page-title">
        Database
    </div>
    <div class="subpage-title">
        Browse the 102 flower species that are in our database!
    </div>
    <ul class="pagination justify-content-center">
        <li><a href="#As">&laquo;</a></li>
        <li><a href="#As">A</a></li>
        <li><a href="#Bs">B</a></li>
        <li><a href="#Cs">C</a></li>
        <li><a href="#Ds">D</a></li>
        <li><a href="#Es">E</a></li>
        <li><a href="#Fs">F</a></li>
        <li><a href="#Gs">G</a></li>
        <li><a href="#Hs">H</a></li>
        <li class="disabled"><a href="#Is">I</a></li>
        <li><a href="#Js">J</a></li>
        <li><a href="#Ks">K</a></li>
        <li><a href="#Ls">L</a></li>
        <li><a href="#Ms">M</a></li>
        <li class="disabled"><a href="#Ns">N</a></li>
        <li><a href="#Os">O</a></li>
        <li><a href="#Ps">P</a></li>
        <li class="disabled"><a href="#Qs">Q</a></li>
        <li><a href="#Rs">R</a></li>
        <li><a href="#Ss">S</a></li>
        <li><a href="#Ts">T</a></li>
        <li class="disabled"><a href="#Us">U</a></li>
        <li class="disabled"><a href="#Vs">V</a></li>
        <li><a href="#Ws">W</a></li>
        <li class="disabled"><a href="#Xs">X</a></li>
        <li><a href="#Ys">Y</a></li>
        <li class="disabled"><a href="#Zs">Z</a></li>
        <li><a href="#Ys">&raquo;</a></li>
    </ul>
    <div class="cssPagination"> 
        <div class="pages">
            <div class="page" id="As">
                <div class="row"> 
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/alpineseaholly.jpg" >
                            Alpine Sea Holly
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/anthurium.jpg"  >
                            Anthurium
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/artichoke.jpg" >
                            Artichoke
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/azalea.jpg" >
                            Azalea
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Bs">
                <div class="row"> 
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/ballmoss.jpg" >
                            Ball Moss
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/beebalm.jpg" >
                            Bee Balm
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/blackeyedsusan.jpg" >
                            Black-eyed Susan
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/bougainvillea.jpg" >
                            Bougainvillea
                        </div>   
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/balloonflower.jpg" >
                            Balloon Flower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/birdofparadise.jpg" >
                            Bird of Paradise
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/blanketflower.jpg" >
                            Blanket Flower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/bromelia.jpg" >
                            Bromelia
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/barbetondaisy.jpg" >
                            Barbeton Daisy
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/bishopofllandaff.jpg" >
                            Bishop of Llandaff
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/bolerodeepblue.jpg" >
                            Bolero Deep Blue
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/buttercup.jpg" >
                            Buttercup
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/beardediris.jpg" >
                            Bearded Iris
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/blackberrylily.jpg" >
                            Blackberry Lily
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Cs">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/californiapoppy.jpg" >
                            Californian Poppy
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/capeflower.jpg" >
                            Cape Flower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/coltsfoot.jpg" >
                            Colt's Foot
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/cyclamen.jpg" >
                            Cyclamen
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/camellia.jpg" >
                            Camellia
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/carnation.jpg" >
                            Carnation
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/columbine.jpg" >
                            Columbine
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/cannalily.jpg" >
                            Canna Lily
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/caulteyaspicata.jpg" >
                            Cautleya Spicata
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/commondandelion.jpg" >
                            Common Dandelion
                        </div>  
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/canterburybells.jpg" >
                            Canterbury Bells
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/clematis.jpg" >
                            Clematis
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/cornpoppy.jpg" >
                            Corn Poppy
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ds">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/daffodil.jpg" >
                            Daffodil
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/desertrose.jpg" >
                            Desert Rose
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Es"> 
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/englishmarigold.jpg" >
                            English Marigold
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Fs">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/firelily.jpg" >
                            Fire Lily
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/foxglove.jpg" >
                            Foxglove
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/frangipani.jpg" >
                            Frangipani
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/fritillary.jpg" >
                            Fritillary
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Gs">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/gardenphlox.jpg" >
                            Garden Phlox
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/giantwhitearumlily.jpg" >
                            Giant White Arum Lily
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/greatmasterwort.jpg" >
                            Great Masterwort
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/gaura.jpg" >
                            Gaura
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/globeflower.jpg" >
                            Globe Flower
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/gazania.jpg" >
                            Gazania
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/globethistle.jpg" >
                            Globe Thistle
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/geranium.jpg" >
                            Geranium
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/grapehyacinth.jpg" >
                            Grape Hyacinth
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Hs">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/hardleavedpocketorchid.jpg" >
                            Hard-leaved Pocket Orchid
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/hibiscus.jpg" >
                            Hibiscus
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/hippeastrum.jpg" >
                            Hippeastrum
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Is"></div>
            <div class="page" id="Js">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/japaneseanemone.jpg" >
                            Japanese Anemone
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ks">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/kingprotea.jpg" >
                            King Protea
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ls">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/lentenrose.jpg" >
                            Lenten Rose
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/lotus.jpg" >
                            Lotus
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/loveinthemist.jpg" >
                            Love in the Mist
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ms">

                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/magnolia.jpg" >
                            Magnolia
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/mexicanpetunia.jpg" >
                            Mexican Petunia
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/mallow.jpg" >
                            Mallow
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/monkshood.jpg" >
                            Monkshood
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/marigold.jpg" >
                            Marigold
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/moonorchid.jpg" >
                            Moon Orchid
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/mexicanaster.jpg" >
                            Mexican Aster
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/morningglory.jpg" >
                            Morning Glory
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ns"></div>
            <div class="page" id="Os">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/orangedahlia.jpg" >
                            Orange Dahlia
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/osteospermum.jpg" >
                            Osteospermum
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/oxeyedaisy.jpg" >
                            Oxeye Daisy
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ps">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/passionflower.jpg" >
                            Passion Flower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/pincushionflower.jpg" >
                            Pincushion Flower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/primula.jpg" >
                            Primula
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/pelagornium.jpg" >
                            Pelargonium
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/pinkprimrose.jpg" >
                            Pink Primrose
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/princeofwalefeathers.jpg" >
                            Prince of Wales Feathers
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/peruvianlily.jpg" >
                            Peruvian Lily
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/pinkyellowdahlia.jpg" >
                            Pink-yellow Dahlia
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/pupleconeflower.jpg" >
                            Purple Coneflower
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/petunia.jpg" >
                            Petunia
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/poinsettia.jpg" >
                            Poinsettia
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Qs"></div>
            <div class="page" id="Rs">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/redginger.jpg" >
                            Red Ginger
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/rose.jpg" >
                            Rose
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/rubylippedcattleya.jpg" >
                            Ruby-lipped Cattleya
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ss">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/siamtulip.jpg" >
                            Siam Tulip
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/springcrocus.jpg" >
                            Spring Crocus
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/sweetwilliam.jpg" >
                            Sweet William
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/silverbush.jpg" >
                            Silverbush
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/stemlessgentian.jpg" >
                            Stemless Gentian
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/swordlily.jpg" >
                            Sword Lily
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/snapdragon.jpg" >
                            Snapdragon
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/sunflower.jpg" >
                            Sunflower
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/spearthistle.jpg" >
                            Spear Thistle
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/sweetpea.jpg" >
                            Sweet Pea
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Ts">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/thornapple.jpg" >
                            Thornapple
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/treepoppy.jpg" >
                            Tree Poppy
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/tigerlily.jpg" >
                            Tiger Lily
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/trumpetcreeper.jpg" >
                            Trumpet Creeper
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/toadlily.jpg" >
                            Toad Lily
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/treemallow.jpg" >
                            Tree Mallow
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Us"></div>
            <div class="page" id="Vs"></div>
            <div class="page" id="Ws">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/wallflower.jpg" >
                            Wallflower
                        </div>
                        <div class="flowerimg">
                            <img src="/static/img/flowers/watercress.jpg" >
                            Watercress
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/waterlily.jpg" >
                            Water Lily
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/wildpansy.jpg" >
                            Wild Pansy
                        </div>
                    </div>
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/windflower.jpg" >
                            Windflower
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Xs"></div>
            <div class="page" id="Ys">
                <div class="row">
                    <div class="column">
                        <div class="flowerimg">
                            <img src="/static/img/flowers/yellowiris.jpg" >
                            Yellow Iris
                        </div>
                    </div>
                </div>
            </div>
            <div class="page" id="Zs"></div>
        </div>
    </div>
</body>
</html>
{% endblock %}