<!doctype html>
{% extends "base.html" %} {% block content %}
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    </head>
    <body>
        <div>
            <center>
                {% if name %}
                <h2>Based off of our analysis this flower is {{ name }}!</h2>
                {% endif %}
                You can learn more about the {{ name }} and how to plant it and take care of it! {{top_three[0][1]}} {{second_prob}} {{third_prob}}


                {% if second_prob > 0.01 and third_prob > 0.01 %}
                    There is also a {{top_three[1][1]}}% chance that it is a {{second_prob}} and {{top_three[2][1]}}%  chance that it is a {{third_prob}}!
    
                {% elif second_prob > 1.0 %}
                    There is also a {{top_three[1][1]}}% chance that it is a {{second_prob}} 
    
            {% endif %}

                <br></br>
                <img class="heightset widthset" src="/static/{{ url_for('get_file', filename=filename) }}">
                <br></br>
		        <a href="{{url_for('more_info', preds = prediction, index = index, output = output)}}" class="button" value="more_info">More Info</a>  
            </center>
        </div>
    </body>
</html>
{% endblock %}