<!doctype html>
{% extends "base.html" %} {% block content %}
<html lang="en">
    <head>
        <title>Results!</title> 
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    </head>
    <body>
        <div class=page-title>
                Based off of our analysis this flower is {{ name }}!
          </div>
                 <div class="subpage-title">
                You can learn more about the {{ name }} and how to plant it and take care of it!

  
                {% if second_prob > 0.01 and third_prob > 0.01 %}
                    There is also a {{second_prob}}% chance that it is a {{top_three[1][0]}} and {{third_prob}}%  chance that it is a {{top_three[2][0]}}!
    
                {% elif second_prob > 0.01 %}
                    There is also a {{second_prob}}% chance that it is a {{top_three[1][0]}} 
    
                {% endif %}
              </div>
                <br></br>
                <img class="heightset widthset" src="/static/{{ url_for('get_file', filename=filename) }}">
                <br></br>
		        <a href="{{url_for('more_info', preds = prediction, index = index, output = output)}}" class="button" value="more_info">More Info about {{name}}</a>  
          
</div>
            
        
    </body>
</html>
{% endblock %}