<!doctype html>
{% extends "base.html" %} {% block content %}  
  <html lang="en">
    <head>
      <title> Identify</title>
      <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    </head>
    <body>
      <div class="jumbotron">

      <div class="display-4">Identify your flower!</div>
          <br>
      <div class="lead">Upload an image of a flower and we'll tell you what kind it is.
      </div>
      <div class="my-4">
      <p>Make sure to upload a .png, .jpeg, or .jpg file.</p> </div> 
      <div class="btn btn-primary btn-lg" href="#" role="button">
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>

      </div> 
    </body>
  </html>
{% endblock %}