<!doctype html>
{% extends "base.html" %} {% block content %}  
    <html lang="en">
    <head>
    </head>
        <body>
          <div class="jumbotron">
            <div class="display-4">Identify your flower!</div>
            <div class="lead">Upload an image of a flower and we'll tell you what kind it is.</div>
            <div class="my-4">
            <p>Make sure to upload a .png, .jpeg, or .jpg file.</p></div> 
            <a class="btn btn-primary btn-lg" href="#" role="button">
              <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
              </form>
            </a>
          </div> 
        </body>
    </html>
{% endblock %}