<!doctype html>
{% extends "base.html" %} {% block content %}  
    <html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    </head>
        <body>
        <div>
      <div class="home-image"><a href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/types-of-flowers-1520214627.jpg">
        <img class="image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/types-of-flowers-1520214627.jpg" alt="Alt text" />
        <div class="text center-fit"> Welcome to Flower Finder! </div>
      </a></div>
      <!-- <div class="home-image"> 
        <img class="center-fit" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/types-of-flowers-1520214627.jpg" width=auto height=auto alt="flower field">
      </div> -->
      <br>
      <div class="rectangle"></div>
      <br>
      <div class="card-deck">
        <div class="card" style="overflow: hidden"><a href="{{url_for('identify')}}" value="identify">
          <img src="https://www.outsidepride.com/images/products/detail/gardenflower/cosmoswonder.jpg" class="card-img-top"  width="329" height="160" alt="pink flowers">
          <div class="card-body">
            <h5 class="card-title">Identify your flower</h5>
            <p class="card-text">Upload an image of a flower and find out what type it is! 
            You can learn more about the flower and how to care for it.</p>
          </div>
        </a>
          </div>
          <div class="card">
            <img src="https://www.burpee.com/on/demandware.static/-/Sites-BURPEE-Library/default/dwcf9a95bc/Images/Content/CLP%20Flowers/CATID-3460_Marigolds.jpg" class="card-img-top" width="329" height="160" alt="flowers">
            <div class="card-body">
              <h5 class="card-title"> Discover flowers</h5>
              <p class="card-text"> View the different flowers available in the Flower Finder database.</p>
            </div>
          </div>
          <div class="card">
            <img src="https://thumbs.dreamstime.com/t/blooming-spring-hyacinths-flowers-plant-garden-background-green-foliage-border-banner-39421627.jpg" class="card-img-top" alt="more flowers">
            <div class="card-body">
              <h5 class="card-title"> Citations </h5>
              <p class="card-text">The work done to build this app would not have been possible without all the information we gathered from other sources and websites. 
              If you're interested in learning more about flowers and other plants, check out these sources!</p>
            </div>
          </div>
        </div>
        <br>
        <div class="rectangle"></div>
        <br>
        <div class="page-title"> About Flower Finder </div>
        <div class="subpage-title">
            Welcome to Flower Finder, a web application built by computer science students Alanna DeMuro, 
            Isaiah Fujii Bresnihan, Elizabeth Riffle, and NaNa Mathis. These students were motivated
            to build this application for their Computer Science 121: Software Development course
            project. The group of four wanted to share the knowledge of flowers with anyone who might be 
            interested, whether one is an avid nature or garden-lover, or out for a casual stroll in the park. 
            Flower Finder offers a way for anyone to identify 102 different flowers just by uploading an image. 
            We hope we are able to share our love of nature with you through this app!

        </div> 
        </body>
    </html>
{% endblock %}