    <!doctype html>
    <html lang="en">
        <head>
          <meta charset="utf-8">
        
          <title> Flowers </title>
          <meta name="description" content="Flowers">
          <meta name="author" content="SitePoint">
        
          <link rel="stylesheet" type="text/css" href="stylesheet.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        </head>
        <body>
            <div class="topnav">
              <a class="active" href="{{ url_for('home') }}" class="button">Home</a>
              <a href="{{ url_for('identify') }}" class="button">Identify</a>
              <a href="{{ url_for('database') }}" class="button">Database</a>
              <a href="{{ url_for('citations') }}" class="button">Citations</a>
            </div>
            <div class="topnav">
                <a class="active" href="index.html">Home</a>
                <a href="identify.html">Identify</a>
                <a href="database.html">Database</a>
                <a href="citations.html">Citations</a>
              </div>
            <div>
              <center>
                <h1>Identify!</h1>
                Select a image of a flower to upload.
                <br></br>
                <form method=post enctype=multipart/form-data>
                  <input type=file name=file>
                  <input type=submit value=Upload>
                </form>
              </center>
            </div>
          
          </body>
    </html>
