<!doctype html>
{% extends 'base.html' %} 

{% block content %} 

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

    <div>
        <!-- Homepage image  -->
        <div class="home-image">
                    <img id="resizeh" class="image"  alt="field of flowers" src="https://live.staticflickr.com/65535/47954100867_9a54f420b1_o.jpg">
            <!-- Text over lay  -->
            <div class="text center-fit"> Welcome to Flower Finder! </div>
        </div>
        
        <!-- Rectangle page breaker -->
        <br>
        <div class="rectangle"></div>
        <br>

        <!-- Cards to link to identify, database, and citations -->
        <div class="card-deck">
            <div class="card" style="overflow: hidden">
                <a class = "url" href="/identify" value="identify">
                        <img id="resize" class="card-img-top" alt="pink flowers" src="https://live.staticflickr.com/65535/47954140081_e88c63d0d3_o.jpg">
                    <div class="card-body">
                        <h5 class="card-title">
                            Identify your flower
                        </h5>
                        <p class="card-text">
                            Upload an image of a flower and find out what type
                            it is! 
                            You can learn more about the flower and how to care
                            for it.
                        </p> 
                    </div>
                </a>
            </div>

            <div class="card">
                <a class = "url" href="/database" value="database">
                        <img id="resize" class="card-img-top" alt="flowers" src="https://live.staticflickr.com/65535/47954140126_0b66a04ecb_o.jpg">
                    <div class="card-body">
                        <h5 class="card-title"> 
                            Discover flowers
                        </h5>
                        <p class="card-text"> 
                            View the different flowers available in the Flower
                            Finder database.
                        </p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class = "url" href="/citations" value="citations">
                        <img id="resize" class="card-img-top" alt="more flowers" src="https://live.staticflickr.com/65535/47954099927_cd8da4abed_o.jpg">
                    <div class="card-body">
                        <h5 class="card-title"> 
                            Citations 
                        </h5>
                        <p class="card-text">
                            The work done to build this app would not have been
                            possible without all the information we gathered 
                            from other sources and websites. If you're 
                            interested in learning more about flowers and other
                            plants, check out these sources!
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </body>
    </html>
{% endblock %}
