<!doctype html>
{% extends "base.html" %} {% block content %}
<html lang="en">
<head>
    <title>
        {{name}}!!!
    </title> 

    <link rel="stylesheet" type="text/css" href="/static/css/displayResult.css">   
    <link rel="stylesheet" type="text/css" href="/static/css/moreInfo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <script src="{{ url_for('static', filename='/static/js/main.js') }}" type="text/javascript">
    </script>
    
</head>

<body>

    <!-- Importing image for the predicted flower type -->
    

        <br>
        <div class="page-title">More information about the {{ name }}</div>
        <div class="flowerimg">
            </figcaption>
                <img class="heightset widthset" src="/static/img/flowers{{ url_for('get_file', filename=predimg) }}" 
                alt='predicted flower image'>
        </div>
        <!-- More information navigation bar -->
        <br>
        <div class="tab">
            
            <button class="tablinks" onclick="openInfo(event, 'gen_info')">
                General Info
            </button>

            <button class="tablinks" onclick="openInfo(event, 'lifecycle-seasons')">
                Lifecycle and Seasons
            </button>

            <button class="tablinks" onclick="openInfo(event, 'difficulty-planting')">
                Planting
            </button>

            <button class="tablinks" onclick="openInfo(event, 'sunlight-watering-soil-warnings')">
                More Care Info
            </button>
            
            <button class="tablinks" onclick="openInfo(event, 'citation')">
                Citation
            </button>

        </div>
          
        <!-- Importing the content for each tab of the navigation bar -->
        <div id="gen_info" class="tabcontent">
            <h3>
                General Info
            </h3>
                {% for line in gen_info %}
            <p>
                {{line}}
            </p>
                {% endfor %}
        </div>
            
        <div id="lifecycle-seasons" class="tabcontent">
            <h3>
                Lifecycle and Seasons
            </h3>
            <p> 
                <b>
                    Lifecycle:
                </b> 
                {{lifecycle}}
            </p>
            <p> 
                <b>
                    Seasons:
                </b> 
                {{seasons}}
            </p>
        </div>

        <div id="difficulty-planting" class="tabcontent">
            <h3>
                Planting
            </h3>
            <p> 
                <b>
                    Difficulty:
                </b> 
                {{difficulty}}
            </p>
            <p> 
                <b>
                    How to Plant:
                </b> 
            </p>
            
            {% for line in planting %}

            <p>
                {{line}}
            </p>
                {% endfor %}
        </div>

        <div id="sunlight-watering-soil-warnings" class="tabcontent">
            <h3>
                More Care Info
            </h3>
            <p> 
                <b>
                    Sunlight:
                </b> 
            </p>
            
            {% for line in sunlight %}

                <p>
                    {{line}}
                </p>

                {% endfor %}

            <p> 
                <b>
                    Watering:
                </b> 
            </p>
                
            {% for line in watering %}
               
            <p>
                {{line}}
            </p>
            
            {% endfor %}

            <p> 
                <b>
                    Soil:
                </b> 
            </p>
            
            {% for line in soil %}
                
            <p>
                {{line}}
            </p>
            
            {% endfor %}

            <p> 
                <b>
                    Warnings:
                </b> 
            </p>
            
            {% for line in warnings %}
            
            <p>
                {{line}}
            </p>
                
            {% endfor %}

        </div>

        <div id="citation" class="tabcontent">
            <h3>
                Citation
            </h3>
            <p>
                {{citation}}
            </p>
        </div> 
        <br>
        <br>
    </body>
</html>
{% endblock %}