<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Flowers </title>
  <meta name="description" content="Flowers">
  <meta name="author" content="SitePoint">
</head>

<body>
	<div class="topnav">
              <a class="active" href="/">Home</a>
              <a href="/database" class="button" value="database">Database</a> 
              <a href="/citations" class="button" value="citations">Citations</a>
          </div>
  <div>
    <center>
	    <h1>More information about {{prediction}}</h1>
  
    </center>
  </div>
  
</body>
</html>