<!doctype html>
<html lang="en">
    <head>
        <title>Bar!</title> 
        <style>
            nav {

            }

            nav a {

            }
            
            nav a:hover {
                
            }

            #logo {
                
            }

        </style>
    </head>
    <body>
        <div>

        <nav>
            <a id="logo" href="#">Flower Finder</a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Identify</a>
            <a href="#">Database</a>
            <a href="#">Citations</a>
        </div>
            
        
    </body>
</html>
