<nav class="nav-bar" role="navigation">
    <div class="wrapper">
      <form action="/search" method="get" class="search-bar" role="search" style="position: relative;">
  <input type="hidden" name="type" value="product">

  <input type="search" name="q" value="" placeholder="Search all products..." aria-label="Search all products" autocomplete="off">
  <button type="submit" class="search-bar--submit icon-fallback-text">
    <span class="icon icon-search" aria-hidden="true"></span>
    <span class="fallback-text">Search</span>
  </button>
<ul class="search-results" style="position: absolute; left: 0px; top: -2px; display: none;"></ul></form>

      <ul class="site-nav" id="accessibleNav">
  <li style="float:right;"><a style="font-size:90%; font-style:italic;">Free US Shipping on orders over $65</a></li>
  
  
    
    
      <li class="site-nav--active">
        <a href="/">Home</a>
      </li>
    
  
    
    
      <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/collections/tea-of-the-month">
          Tea Clubs
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li><a href="/collections/tea-of-the-month">About</a></li>
          
            <li><a href="/pages/tea-club-login">Club Member Login</a></li>
          
        </ul>
      </li>
    
  
    
    
      <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/collections/all-teas-and-herbals">
          Teas
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li><a href="/collections/black-teas">Black Teas</a></li>
          
            <li><a href="/collections/oolongs">Oolong Teas</a></li>
          
            <li><a href="/collections/green-teas">Green Teas</a></li>
          
            <li><a href="/collections/matcha-and-accessories">Matcha</a></li>
          
            <li><a href="/collections/white-teas">White Teas</a></li>
          
            <li><a href="/collections/herbal-infusions">Herbal Infusions</a></li>
          
            <li><a href="/collections/fruity-herbal-blends">Fruity Infusions</a></li>
          
            <li><a href="/collections/decaffeinated-teas">Decaffeinated Teas</a></li>
          
            <li><a href="/collections/cold-brewing">Cold Brew Tea</a></li>
          
            <li><a href="/collections/clearance">Clearance</a></li>
          
            <li><a href="/collections/all-teas-and-herbals">See All Teas and Herbals</a></li>
          
        </ul>
      </li>
    
  
    
    
      <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/collections/teaware">
          Teaware
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li><a href="/collections/tea-pots">Tea Pots</a></li>
          
            <li><a href="/collections/mugs">Mugs</a></li>
          
            <li><a href="/collections/infusers">Infusers</a></li>
          
            <li><a href="/collections/tea-accessories">Accessories</a></li>
          
            <li><a href="/collections/iced-tea-makers">Iced Tea Makers</a></li>
          
            <li><a href="/collections/clearance">Clearance</a></li>
          
        </ul>
      </li>
    
  
    
    
      <li>
        <a href="/collections/gift-sets">Gift Ideas</a>
      </li>
    
  
    
    
      <li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/pages/calendar">
          Events
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li><a href="/pages/calendar">Event Calendar</a></li>
          
            <li><a href="/collections/classes">Class Listing</a></li>
          
        </ul>
      </li>
    
  
    
    
      
    
  
    
    
      
    
  

  
<li id="moreMenu" class="site-nav--has-dropdown"><a href="#">More <span class="icon icon-arrow-down" aria-hidden="true"></span></a><ul id="moreMenu--list" class="site-nav--dropdown"><li class="site-nav--has-dropdown" aria-haspopup="true">
        <a href="/pages/about-us">
          About Us
          <span class="icon-fallback-text">
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
          </span>
        </a>
        <ul class="site-nav--dropdown">
          
            <li><a href="https://app.lizzykate.com">Rewards Program</a></li>
          
            <li><a href="/pages/about-us">About Us</a></li>
          
            <li><a href="/blogs/lizzys-corner">Blog</a></li>
          
            <li><a href="/pages/faq">FAQ</a></li>
          
        </ul>
      </li><li>
        <a href="/pages/find-us">Find Us</a>
      </li></ul></li></ul>

    </div>
  </nav>